:root {
  --dark-bg: rgb(40, 40, 40);
  --light-bg: #dfe1e6;
  --blue: #4c00ff;
  --light-blue: #5b86e5;

  --border-radius: 5px;
  --box-shadow: 5px 5px 20px 2px #b8b8b891;

  --yellow: #ffffff;

  --poppins: "Poppins", sans-serif;
  --sacramento: "Sacramento", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
}

/* Scroll to Top Button */

.scroll-to-top button {
  display: none;
  position: fixed;
  bottom: 4vh;
  right: 3vw;
  color: var(--blue);
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--light-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: var(--border-radius);
}

body {
  background-color: var(--light-bg);
  min-height: 100vh;
  overflow-x: hidden;
}

.blog-wrapper {
  margin: 0 1rem;
}

.blog-page {
  margin: auto;
  max-width: 700px;
  color: rgb(40, 40, 40);
  text-align: justify;
}

h1 {
  color: var(--blue);
}

h2 {
  margin: 2rem 0 1rem 0;
}

code,
pre {
  font-family: monospace;
  background-color: #b8b8b891;
  color: var(--dark-bg);
  border-radius: var(--border-radius);
  padding: 0.25rem;
  overflow: auto;
}

pre {
  margin: 1rem 0;
  padding: 1rem;
}

img.blog-movie-image {
  width: 100%;
  height: auto;
  margin: 1rem 0;
  border-radius: var(--border-radius);
}

nav {
  /* position: sticky;
    top: 0; 
    z-index: 99; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: var(--light-bg);
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav ul li a {
  display: inline-block;
  margin: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  color: var(--blue);
  text-decoration: none;
  cursor: pointer;
}

/* .burger {
    cursor: pointer;
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 3px;
    border-radius: 20rem;
    background-color: var(--blue);
}

.burger .line3 {
    width: 15px; 
    margin-left: 15px;
} */

.intro {
  display: flex;
  align-items: center;
  margin: 5rem;
}

.project-intro,
.blog-intro,
.about-intro {
  justify-content: center;
}

.intro .text {
  flex: 50%;
}

.intro .name {
  font-size: 4.5rem;
  color: var(--blue);
  font-family: var(--sacramento);
  text-shadow: 2px 2px var(--light-blue);
}

.intro img {
  float: right;
  height: auto;
  width: 40vw;
}

/* .about-intro img {
    width: 30vw;
} */

.blog-intro img {
  width: 30vw;
}

.designation {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--light-blue);
}

.action,
.about-section-home button,
.wrapper button,
.blog-section button,
.home-content button {
  letter-spacing: 0.01rem;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: var(--border-radius);
  color: var(--light-bg);
  background-color: var(--blue);
  outline: none;
  border: none;
  cursor: pointer;
}

.about-section-home button {
  color: var(--blue);
  background-color: var(--light-bg);
}

.about-section-home,
.contact-section {
  margin: 3rem 0;
  background-image: linear-gradient(190deg, var(--light-blue), var(--blue));
  color: var(--light-bg);
}

.about-section .title,
.skill-section .title,
.project-section .title,
.contact-section .title,
.blog-section .title,
.about-section-home .title,
.project-section-home .title,
.blog-section-home .title {
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
  font-family: var(--sacramento);
}

.hr hr,
.about-section hr {
  margin: 0 5rem;
  height: 0.01rem;
  border-width: 0;
  background-color: var(--light-bg);
}

.about-section hr {
  background-color: var(--blue);
}

.about {
  margin: 0 5rem;
  display: flex;
  align-items: center;
}

.about .text {
  text-align: justify;
  margin: 2rem;
}

.about img {
  border-radius: 50%;
  width: 12rem;
  margin: 2rem;
}

.skill-section {
  margin: 2rem 0;
}

.skill-section ul.skill,
.skill-section .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.skill-section .wrapper {
  flex-direction: column;
}

.skill-section i {
  font-size: 60px;
  padding: 1rem;
}

.skill-section .name {
  color: var(--dark-bg);
}

.project-section {
  padding: 0 4rem;
}

.about-section .title,
.skill-section .title,
.project-section .title,
.blog-section .title,
.project-section-home .title,
.blog-section-home .title {
  color: var(--blue);
}

.project-section .project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .project-section .wrapper {
    width: 40%;
    border-right: 4px solid var(--blue);
    border-bottom: 4px solid var(--blue);
    border-top: 2px solid var(--blue);
    border-left: 2px solid var(--blue);
    border-radius: var(--border-radius);
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: var(--box-shadow);
} */

.project-section .wrapper {
  display: flex;
  align-items: stretch;
  box-shadow: var(--box-shadow);
  border-right: 4px solid var(--blue);
  border-bottom: 4px solid var(--blue);
  border-top: 2px solid var(--blue);
  border-left: 2px solid var(--blue);
  border-radius: var(--border-radius);
  margin: 1rem;
  padding: 1rem;
}

.project-section .wrapper .image {
  flex: 45%;
}

.project-section .wrapper img {
  width: 100%;
  height: auto;
  image-rendering: auto;
  border-radius: var(--border-radius);
}

.project-section .project-text {
  margin: 0 1.5rem;
  flex: 55%;
}

.project .name {
  font-family: var(--poppins);
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  color: var(--blue);
}

.project .details {
  margin-top: 0.5rem;
}

.mark,
button.github,
button.read-now {
  color: var(--blue);
  border: 1px solid var(--blue);
  background-color: var(--light-bg);
  border-radius: var(--border-radius);
  padding: 0.15rem 0.5rem;
  margin: 0 0.25rem;
}

.mark {
  margin: 0 0.25rem 0 0;
}

.about .text,
.about-section p,
.wrapper .details,
.blog-section .content,
.home-content {
  font-size: 1rem;
  text-align: justify;
  color: var(--dark-bg);
}

.about .text {
  color: var(--light-bg);
}

.wrapper button,
.blog-section button {
  padding: 0.25rem 0.5rem;
}

.wrapper button a {
  text-decoration: none;
}

.blog-section {
  max-width: 800px;
  margin: auto;
}

.blog-section .blog,
.about-section {
  padding: 0;
  margin: 2rem;
  box-shadow: var(--box-shadow);
  border-right: 4px solid var(--blue);
  border-left: 2px solid var(--blue);
  /* border-top: 2px solid var(--blue); */
  border-radius: var(--border-radius);
  border-bottom: 4px solid var(--blue);
  outline: none;
}

.about-section {
  border-top: 2px solid var(--blue);
}

.about-section .text {
  padding: 1rem;
}

.about-section p {
  padding: 0.5rem;
}

.blog-section .name {
  width: 100%;
  font-size: 1.5rem;
  background-image: linear-gradient(190deg, var(--light-blue), var(--blue));
  color: var(--light-bg);
  margin-bottom: 1rem;
  padding: 1rem;
}

.project-section small,
.blog-section small {
  opacity: 0.8;
}

.blog-section small {
  margin: 0 1rem;
}

.blog-section .content {
  width: 100%;
  margin: 0;
  padding: 1rem;
}

.blog i,
.project i {
  padding-left: 0.35rem;
}

.project-home,
.blog-home {
  margin: 2rem auto;
  padding: 1rem;
  width: 50%;
  border-radius: var(--border-radius);
  border-right: 4px solid var(--blue);
  border-left: 2px solid var(--blue);
  border-top: 2px solid var(--blue);
  border-bottom: 4px solid var(--blue);
}

.contact-section {
  margin-bottom: 0;
}

/* .about-section:before , .project-section:before, .blog-section:before, .contact-section:before{ 
    content: "";
    background: var(--light-bg);
    display: block;
    margin-top: -60px;
    padding-top: 60px;
} */

.contact-section .title {
  font-size: 3rem;
}

.contact {
  display: flex;
  justify-content: center;
}

.contact a {
  cursor: default;
}

.contact i {
  color: var(--light-bg);
  margin: 1.5rem;
  font-size: 2.5rem;
  cursor: pointer;
}

.contact-section .footer {
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  color: var(--light-bg);
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
  /* fully Done */

  .intro {
    margin: 3.5rem;
  }
  .intro .name {
    font-size: 3.75rem;
  }
  .designation {
    font-size: 1.3rem;
  }
  .action,
  .about-section-home button,
  .wrapper button,
  .blog-section button,
  .home-content button {
    font-size: 0.8rem;
  }
  .intro img {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .intro img {
    width: 55vw;
  }

  .about-section .title,
  .skill-section .title,
  .project-section .title,
  .contact-section .title,
  .blog-section .title,
  .about-section-home .title,
  .project-section-home .title,
  .blog-section-home .title {
    font-size: 3rem;
    padding: 0.8rem;
  }
  .about {
    margin: 0 4rem;
  }

  .project-section {
    padding: 0 3rem;
  }
  .project-section .wrapper {
    flex-direction: column;
    width: 60%;
    padding: 1rem;
    margin: 1rem 0;
  }
  .project .project-text {
    margin: 0;
  }
  .project .name {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }

  .project-home,
  .blog-home {
    width: 70%;
  }
}

@media (max-width: 900px) {
  .about {
    flex-direction: column;
  }
  .about .text {
    margin-top: 0;
  }
  /* .about img {
        width: 8rem;
    }
 */
}

@media (max-width: 768px) {
  .intro {
    flex-direction: column-reverse;
    margin: 2.5rem;
    margin-top: 0;
  }
  .intro .name {
    font-size: 4rem;
  }
  .intro img {
    width: 60vw;
  }
  .intro .text {
    margin-top: 1.5rem;
  }
  .about {
    margin: 0 3rem;
  }
  .about .text {
    margin: 1.5rem;
  }
  .project-section .project {
    align-items: center;
  }
  .project-section {
    padding: 0 2rem;
  }
  .project-section .wrapper {
    width: 60%;
  }

  .skill-section ul.skill,
  .skill-section .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.75rem;
  }
}

@media (max-width: 600px) {
  body.no-overflow {
    overflow-y: hidden;
  }
  /* nav {
        flex-direction: column-reverse;
    }
    .nav-links {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        top: 7vh;
        height: 93vh;
        width: 100vw;
        background-color: var(--light-bg);
        color: var(--blue);
        transform: translateY(-100vh);
        transition: all 0.7s ease;
    } 
        .nav-links.open {
        transform: translateY(0vh);
    }
    .burger {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        height: 5vh;
    } */
  .about-section .title,
  .skill-section .title,
  .project-section .title,
  .contact-section .title,
  .blog-section .title,
  .about-section-home .title,
  .project-section-home .title,
  .blog-section-home .title {
    font-size: 2.5rem;
    padding: 0.6rem;
  }
  .about {
    margin: 0 2rem;
  }
  .hr hr {
    margin: 0 3rem;
  }
  .about .text,
  .about-section p,
  .project .details,
  .blog .content,
  .home-content {
    font-size: 0.9rem;
  }
  .project-section {
    padding: 0 1rem;
  }
  .project-section .wrapper {
    width: 85%;
  }
  .project .name,
  .blog .name {
    font-size: 1.35rem;
  }

  .blog-section .blog,
  .about-section {
    margin: 2rem 1rem;
  }
  .project-home,
  .blog-home {
    width: 80%;
  }
  .contact i {
    margin: 1rem;
    font-size: 2rem;
  }
  .contact-section .footer {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .nav-links a {
    font-size: 0.7rem;
  }

  .intro {
    margin: 1rem;
  }
  .intro .name {
    font-size: 2.75rem;
    text-shadow: 1px 1px var(--light-blue);
  }
  .designation {
    font-size: 1rem;
  }
  .action,
  .about-section-home button,
  .wrapper button,
  .blog-section button,
  .home-content button {
    padding: 0.25rem 0.5rem;
    margin: 0.5rem 0;
  }
  .intro img {
    width: 70vw;
  }
  .intro .text {
    margin-top: 1rem;
  }
  .about {
    margin: 0 1.5rem;
  }
  .hr hr {
    margin: 0 2rem;
  }
  .about .text {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 0.75rem;
  }

  .project-section .wrapper {
    width: 95%;
  }

  .contact-section .footer {
    font-size: 0.9rem;
  }
}
